@if(showAlert()) {
<app-alert [color]="alertColor()">{{alertMsg()}}</app-alert>
}

<form [formGroup]="form" (ngSubmit)="register()">
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input placeHolder="Enter Name" [control]="form.controls.name"></app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input [control]="form.controls.email" type="email" placeHolder="Enter Email"></app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input [control]="form.controls.age" type="number" placeHolder="Enter Age"></app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input [control]="form.controls.password" type="password">Enter Password</app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input [control]="form.controls.confirmPassword" type="password">Confirm Password</app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input [control]="form.controls.phoneNumber" placeHolder="Enter Phone Number" format="(000)000-0000"></app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400"
    [disabled]="form.invalid || inSubmission()"
  >
    Submit
  </button>
</form>
