.video-js {
  max-width: 1500px !important;
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  aspect-ratio: 16/9;
  object-fit: contain !important;
}

.video-js .vjs-control-bar {
  height: 4em !important;
  font-size: 1em !important;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 2em !important;
}

.video-js .vjs-button {
  width: 4em !important;
}

.vjs-theme-forest .vjs-volume-bar,
.vjs-theme-forest .vjs-progress-holder {
  height: 1em !important;
}

.video-js .vjs-time-tooltip {
  top: -1.5em !important;
}

.video-js .vjs-time-control {
  font-size: 1em !important;
}
