<!-- Clips List -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @for(clip of clipService.pageClips(); track clip.docID) {
  <a
    [routerLink]="['/', 'clip', clip.docID]"
    class="block overflow-hidden rounded-xl bg-secondary shadow-lg transition-all duration-300 transform hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img
      class="w-full h-48 rounded-t-xl object-cover"
      [src]="clip.screenshotURL"
      alt="Clip Thumbnail"
      crossorigin
    />

    <!-- Body -->
    <div class="p-6">
      <h2 class="text-xl font-semibold text-white truncate">
        {{ clip.title }}
      </h2>
      <p class="mt-2 text-gray-400 text-sm">
        {{ clip.displayName }} &#183;
        <span>{{ clip.timestamp | fbTimestamp }}</span>
      </p>
    </div>
  </a>
  }
</div>
